body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(215, 161, 145);
  margin: 0 auto;
  max-width: 50em;
}

h1 {
  color: rgb(36, 26, 113);
}

h2 {
  color: blue;
}

.questions {
  font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}