@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
  margin: 0 auto;
  max-width: 50em;
}

h1 {
  color: rgb(36, 26, 113);
}

h2 {
  color: blue;
}

.questions {
  font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #011889;
}

.apartado-card {margin-bottom: 10px; border-radius: 8px; overflow: hidden; }

button { 
    width: 100%; padding: 15px; text-align: left; border: none; 
    background: #2c3e50; color: white; cursor: pointer; font-size: 16px;
}

.apartado { 
    padding: 0 15px; max-height: 0; overflow: hidden; 
    transition: max-height 0.3s ease-out, padding 0.3s;
}

.apartado.abierta { padding: 15px;}